<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles2.css">
</head>
<body>
    <canvas id="output" height="500" width="500"></canvas>
    <main>
    <div class = "current_chord" id = "current_chord"></div>  
    <div id="transcription"></div>
    </main>
    <script src="js/playscript.js" defer></script>
    <script src="js/speechRecognition.js"></script>
</body>
</html>